/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * GOOGLE FONTS * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * PARAMETRES GLOBAUX * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

section {
  padding: 100px 0;
}

section .titre {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .titre::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 300px;
  height: 5px;
  background: black;
  transform: translateX(-50%);
}

section .titre::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: royalblue;
  padding: 0 5px;
  background: white;
  transform: translateX(-50%);
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.merci .merci-contenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.merci,
footer {
  font-family: "Poppins", sans-serif;
}

.merci .titre::after {
  content: "Projets récents.";
  border-radius: 6px;
}

.merci .merci-contenu .carte {
  width: calc(33% - 20px);
  background: lightgray;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.merci .merci-contenu .carte:hover {
  background: royalblue;
}

.merci .merci-contenu .carte .boite {
  transition: all 0.3s ease;
}

.merci .merci-contenu .carte:hover .boite {
  transform: scale(1.05);
}

.merci .merci-contenu .carte i {
  font-size: 50px;
  color: royalblue;
  transition: color 0.3s ease;
}

.merci .merci-contenu .carte:hover i {
  color: black;
}

.merci .merci-contenu .carte .texte {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.merci .merci-contenu .carte a {
  display: inline-block;
  background: royalblue;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid royalblue;
  transition: all 0.3s ease;
}

.merci .merci-contenu .carte a:hover {
  color: royalblue;
  background: lightgray;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * QUERY START * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }

  .merci .merci-contenu .carte {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 912px) {
  .merci .merci-contenu .carte {
    margin-left: auto;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .merci .merci-contenu .carte {
    width: 100%;
  }
}

@media (max-width: 390px) {
  /*iPhone 12 Pro*/

  section .titre::before {
    width: 225px;
  }
}

@media (max-width: 280px) {
  .merci .titre::after {
    margin-bottom: -25px;
  }
}
